.hpv-filter-bar {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}
.hpv-filter-bar .picker-btn:hover {
    background-color: #fff;
    border-color: #3273dc;
    color: #3273dc;
}
.hpv-filter-bar .picker-btn {
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    border-style: solid;
    border-width: thin;
    border-color: #d7d7d7;
    background-color: #3273dc;
    padding-left: .55em;
    padding-right: .55em;
}
.hpv-filter-bar .floating-content {
    width: max-content;
    position: absolute;
    background-color: white;
    display: none;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}
.hpv-filter-bar .floating-content .filter-content-item > svg, .hpv-filter-bar .floating-content .filter-content-item .icon {
    width: 16px;
}
.hpv-filter-bar .floating-content .picker-floating-content {
    min-width: 12rem;
}
.hpv-filter-bar .floating-content .picker-floating-content .filter-content-header {
    font-size: 16px;
    border-bottom-style: solid;
    border-bottom-color: #cbcbcb;
    border-bottom-width: 1px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #4a4a4a;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.hpv-filter-bar .floating-content .picker-floating-content .filter-content-body {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.hpv-filter-bar .floating-content .picker-floating-content .filter-content-item.is-readonly {
    color: #bdbdbd;
    cursor: not-allowed;
    pointer-events: none;
}
.hpv-filter-bar .floating-content .picker-floating-content .filter-content-item {
    padding-right: 16px;
    font-size: .875rem;
    line-height: 1.5;
    padding: .375rem 1rem;
    position: relative;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    color: #4a4a4a;
}

.hpv-filter-bar .floating-content .picker-floating-content .filter-content-item span {
    margin-left: 8px;
}

.hpv-filter-bar .selector-btn.selector-btn-disabled {
    color: #bdbdbd;
}
.hpv-filter-bar .selector-btn {
    display: flex;
    align-items: center;
    min-width: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f0f0f0;
    overflow: hidden;
    font-size: 0.8rem;
	color: #000;
	border-style: dashed;
	border-width: thin;
	border-color: #8a8bff;
}
.hpv-filter-bar .selector-btn-text {
    flex-grow: 1;
    padding: 4px 8px;
}
.hpv-filter-bar .selector-btn-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3273dc1a;
    border-left: 1px solid #ccc;
    width: 20px;
    height: 100%;
}
.hpv-filter-bar .selector-btn-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}
